<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="mb-4">Список PDF-файлов</h1>
            <div>
                <a href="/trouble_tickets" class="btn btn-secondary mr-2">Заявки</a>
                <a href="/lk" class="btn btn-secondary mr-2">Личный кабиент</a>
            </div>
        </div>
        <ul class="list-group">
            {% for pdf in pdf_files %}
                <li class="list-group-item">
                    <a href="/pdfs/{{ pdf }}" target="_blank" class="btn btn-primary">{{ pdf }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
