<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Добро пожаловать</h1>
        <div>
            <a href="/login" class="btn btn-secondary mr-2">Войти</a>
            <a href="/trouble_tickets" class="btn btn-secondary mr-2">Заявки</a>
        </div>
        <div class="text-center mt-5">
            <img src="https://s0.rbk.ru/v6_top_pics/resized/960xH/media/img/6/20/756358604198206.jpg" alt="Placeholder Image" class="img-fluid">
        </div>

        <div class="text-center mt-5">
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:example@example.com">example@example.com</a></p>
            <p>Phone: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
            <p>Address: 123 Main St, Anytown, Russia</p>
        </div>
    </div>

   
</body>
</html>
